<div id="profile_content">
    <h2>Your Profile</h2>
    <div id="profile_container">
        <img [src]=" user.getImage()" alt="avatar" >

        <div *ngIf="!editing">
            <p>Username: {{ user.getName() }}</p>
            <p>Email: {{ user.getEmail() }}</p>
            <p>Password: {{ user.getPassword() }}</p>
        </div>

        <form *ngIf="editing" [formGroup]="profileEditForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="userName">UserName</label>
                <input type="text" class="form-control" id="userName" formControlName="username">
                <div >
                    <small *ngIf="profileEditForm.get('userName')?.invalid && (profileEditForm.get('userName')?.dirty || profileEditForm.get('userName')?.touched)" class="formAlert">
                        Username is required and should contain only letters and numbers.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" >
                <div>
                    <small *ngIf="profileEditForm.get('email')?.invalid && (profileEditForm.get('email')?.dirty || profileEditForm.get('email')?.touched)" class="formAlert">
                        Eine gültige Email wird benötigt.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div>
                    <small *ngIf="(passwordErrors && passwordErrors['required']) && (profileEditForm.get('password')?.dirty || profileEditForm.get('password')?.touched)" class="formAlert">
                        Passwort ist erforderlich
                    </small>
                    <small *ngIf="passwordErrors && passwordErrors['minlength']" class="formAlert">
                        Passwort muss mindestens 8 Zeichen lang sein
                    </small>
                    <small *ngIf="passwordErrors && passwordErrors['passwordStrength']" class="formAlert">
                        {{ passwordErrors['passwordStrength'] }}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                <div>
                    <small *ngIf="profileEditForm.errors?.['passwordMismatch'] && profileEditForm.touched" class="formAlert">
                        {{ profileEditFormErrors?.['passwordMismatch'] }}
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" disabled="{{submitButtonDisabled}}" >Change</button>
            <button type="button" class="btn btn-primary" (click)="profileEditForm.reset()" >Clear</button>
        </form>

        <button *ngIf="!editing" (click)="editProfile()">Edit Profile</button>
    </div>
    <h2>Your Items</h2>
    <ul>
        <li *ngFor="let item of userItems">
            <img src="{{item.Image}}" alt="item Image" width="100" height="100">
            <div id="item_info">
                <p>{{item.marke}} {{item.modell}}</p>
                <p>{{item.kilometerstand}} km</p>
                <p>{{item.baujahr}}</p>
                <p>{{item.preis}} €</p>
            </div>
            <div id="item_buttons">
                <button class="delete_button" (click)="deleteItem(item.id)">Delete</button>
                <button class="more_button" (click)="goToDetail(item.id)">More</button>
            </div>
        </li>
    </ul>
</div>
