<div id="home_container">
    <h1>Real estates</h1>
    <div class="real_estate_container slideshow_container">
        
    </div>
    <h1>Vehicles</h1>
    <div class="vehicle_container slideshow_container">
        <button id="vehicle_left" class="slider_button" (click)="slideLeft()"><</button>
        <div id="vehicle_content">
            <ul>
                <li *ngFor="let vehicle of vehicles">
                    <div id="vehicle_item_container">
                        <img src="{{vehicle.Image}}" alt="Vehicle Image" width="100" height="100">
                        <div id="vehicle_info">
                            <p>{{vehicle.marke}} {{vehicle.modell}}</p>
                            <p>{{vehicle.preis}} €</p>
                            <p>{{vehicle.kilometerstand}} km</p>
                            <p>{{vehicle.baujahr}}</p>
                            <button class="more_button" routerLink="/vehicles/details">More</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button id="vehicle_right" class="slider_button" (click)="slideRight()">></button>
    </div>
</div>